Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*{.js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix"
  ],
  "*.{css,scss}": "prettier --write"
}

dbg: remove schema customization
  gatsby-node.mjs
Due: none

update dependencies
  package-lock.json
  package.json
  yarn.lock
Due: none

Revert "dbg: try disable groupby tags"
  gatsby-node.mjs
Due: none

remove remark-unwrap-images
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

reenable mermaid
  gatsby-config.mjs
Due: none

explicitly list hastscript & unist-util-vist as dep
  package.json
  yarn.lock
Due: none

update gql queries
  gatsby-config.js
  gatsby-node.js
  src/pages/archive.js
  src/pages/blogs.js
  src/pages/index.js
  src/pages/tags.js
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix

remove mdx & node def in gatsby-node.mjs
  gatsby-node.mjs
Due: none

Revert "dbg: check if template string causes gql error on vercel"
  gatsby-config.mjs
  gatsby-node.mjs
Due: none

Revert "remove mdx & node def in gatsby-node.mjs"
  gatsby-node.mjs
Due: none

upgrade deps
  package.json
  yarn.lock
Due: none

Create chatgpt.yml
  .github/workflows/chatgpt.yml
Due: none

update date & fix typo
  content/blog/geekgame-2nd-writeup/index.mdx
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

blog: add outdated reason to katex&gatsby post.
  content/blog/using-katex-with-mdx-in-gatsby/index.mdx
Due: none

feat: add support for supplying outdated reason
  gatsby-node.mjs
  src/data/blog-queries.js
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix

fix: change cache path to node_modules/.puppeteer
  .puppeteerrc.cjs
Due: none

blog: mark posts as outdated
  content/blog/using-katex-with-mdx-in-gatsby/index.mdx
Due: none

chore: upgrade deps
  gatsby-config.mjs
  package.json
  yarn.lock
Due: none

fix: hide underline for anchors in content
  src/main.scss
Due: prettier --write

fix: change puppeteer cache location only on vercel
  .puppeteerrc.cjs
Due: none

feat: outdated content notice
  src/data/blog-queries.js
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix

feat: make the link look nice
  src/main.scss
Due: prettier --write

fix: do not let puppeteer share gatsby's cache dir
  .puppeteerrc.cjs
Due: none

feat: add external link icon
  gatsby-config.mjs
  package.json
  src/main.scss
  yarn.lock
Due: prettier --write

refactor: fix spelling
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix

fix: fix local puppeteer cache path
  .puppeteerrc.cjs
Due: none

fix: puppeteer cache path
  .puppeteerrc.cjs
Due: none

fix: remove log in BlogSummaryList
  src/components/blog-summary/blog-summary-list.js
Due: prettier --write, eslint --cache --fix

fix: react rendering error in archive page
  src/components/tags/tags.js
  src/pages/archive.js
Due: prettier --write, eslint --cache --fix

fix: remove heading for empty section
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

links: add "The Overflow"
  src/images/links/baoshuo.webp
  src/images/links/logo-stackoverflow.png
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

fix: enable katex strict mode
  content/blog/using-katex-with-mdx-in-gatsby/index.mdx
  gatsby-config.mjs
Due: none

fix: rename friends page to links
  .vscode/settings.json
  gatsby-node.mjs
  src/components/navbar/index.js
  src/pages/links.js
  src/pages/links.module.scss
Due: prettier --write, eslint --cache --fix

fix: better abstraction over blog mdx and page mdx
  gatsby-config.mjs
  gatsby-node.mjs
  src/data/conditional.mjs
Due: none

fix: replace allMdx
  src/components/blog-summary/blog-summary-list.js
  src/pages/archive.js
  src/pages/blogs.js
  src/pages/index.js
  src/pages/tags.js
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix

feat: change contacts nav item to "about"
  src/components/navbar/index.js
Due: prettier --write, eslint --cache --fix

feat: add about page
  src/pages/about.mdx
Due: none

content: update about page
  src/pages/about.mdx
Due: none

fix: do not wrap icon-text
  src/components/icon-text.module.scss
Due: prettier --write
