Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

.lintstagedrc:

{
  "*{.js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules"
  ],
  "*.{css,scss,mdx,md}": "prettier --write",
}

content: update language list
  src/pages/index.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

blog: programming thoughts 2022-04-16
  content/blog/programming-thoughts/2022-04-16.md
Due: prettier --write

fix: do not format markdown(X)
  .lintstagedrc
Due: none

blog: fix abbr syntax
  content/blog/programming-thoughts/2022-04-16.md
Due: prettier --write

fix: SPOC of FontAwesomeIcon
  src/pages/index.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

Update siteurl, prepending www
  gatsby-config.js
  package.json
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

chore: upgrade dependencies
  package.json
  yarn.lock
Due: none

blog: how to root iPlay40Pro
  content/blog/how-to-root-iplay40pro/image.png
  content/blog/how-to-root-iplay40pro/index.md
Due: prettier --write

blog: add note
  content/blog/how-to-root-iplay40pro/index.md
Due: prettier --write

blog: fix mistake
  content/blog/how-to-root-iplay40pro/index.md
Due: prettier --write

dep: upgrade to gatsby@next which supports node 18.
  package.json
  yarn.lock
Due: none

revert: stick to gatsby@^4.15.2
  package.json
  yarn.lock
Due: none

fix: "broken" link
  content/blog/how-to-root-iplay40pro/index.md
Due: prettier --write

fix: update siteurl
  gatsby-config.js
  package.json
  src/components/footer/index.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

blog: fix typo
  content/blog/yubikey-oobe/index.mdx
Due: prettier --write

blog: bypass-campus-network-auth
  content/blog/bypass-campus-network-auth/index.md
Due: prettier --write

blog: using-ndi-to-share-screen-with-vm
  content/blog/using-ndi-to-share-screen-with-vm/image-20220707135344458.png
  content/blog/using-ndi-to-share-screen-with-vm/image-20220707135655750.png
  content/blog/using-ndi-to-share-screen-with-vm/image-20220707140206269.png
  content/blog/using-ndi-to-share-screen-with-vm/image-20220707140402620.png
  content/blog/using-ndi-to-share-screen-with-vm/image-20220707140911163.png
  content/blog/using-ndi-to-share-screen-with-vm/image-20220707141131538.png
  content/blog/using-ndi-to-share-screen-with-vm/index.md
Due: prettier --write

chore: fix typo
  content/blog/using-ndi-to-share-screen-with-vm/index.md
Due: prettier --write

feat: upgrade gatsby-plugin-mdx to v4
  package.json
  yarn.lock
Due: none

fix: remove unsupported fields: headings & timeToRead
  src/data/blog-queries.js
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

dbg: config segfault handler
  gatsby-config.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

dbg: shown timeToRead as unknown
  src/components/blog-summary/blog-summary.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

feat: migrate gatsby-plugin-mdx from v3 to v4
  gatsby-node.js
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

blog: update using-ndi-to-share-screen-with-vm
  content/blog/using-ndi-to-share-screen-with-vm/index.md
Due: prettier --write

fix: remove gql query name as required by gatsby-plugin-mdx v4
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

fix: update queries for slug
  src/components/blog-bottom-nav/blog-bottom-nav.js
  src/components/blog-summary/blog-summary.js
  src/data/blog-queries.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

fix: update queries for slug
  gatsby-node.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

dbg: temporarily remove html comments in mdx
  content/blog/hello-world/index.md
Due: prettier --write

fix: disable esmRequire
  gatsby-config.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

fix: update slug
  gatsby-config.js
  src/components/archive/archive-item.js
  src/pages/archive.js
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

fix: remove rss html content temporarily
  gatsby-config.js
Due: prettier --write, eslint --cache --fix --rulesdir ./node_modules/gatsby/dist/utils/eslint-rules

fix: remove embeds in mdx temporarily
  content/blog/test-website-functionality/index.mdx
Due: prettier --write
