Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

feat: project cards
  src/components/project-card.jsx
  src/components/project-card.module.scss
  src/components/project-cards.jsx
  src/components/project-cards.module.scss
  src/components/tags/tags.js
  src/images/projects/advanced-paste.png
  src/images/projects/aspeak.png
  src/images/projects/category-manager.jpg
  src/images/projects/chatgpt-action.png
  src/images/projects/slidev-template.png
  src/images/projects/website.png
  src/images/projects/wsl-disk-shrinker.png
  src/main.scss
  src/pages/about.mdx
Due: prettier --write, eslint --cache --fix

fix: do not wrap icon-text
  src/components/icon-text.module.scss
Due: prettier --write

fix: bottom nav
  gatsby-node.mjs
Due: none

refactor: project cards
  gatsby-node.mjs
  src/components/project-card/personal-projects.jsx
  src/components/project-card/project-card.jsx
  src/components/project-card/project-card.module.scss
  src/components/project-card/project-cards.jsx
  src/components/project-card/project-cards.module.scss
  src/components/project-card/transparent-link.jsx
  src/pages/about.mdx
Due: prettier --write, eslint --cache --fix

fix: style of project card collection
  src/components/project-card/project-cards.jsx
  src/components/project-card/project-cards.module.scss
Due: prettier --write, eslint --cache --fix

fix: align text with icon
  src/components/icon-text.module.scss
Due: prettier --write

feat: add course projects
  src/components/project-card/course-projects.jsx
  src/components/project-card/project-card.module.scss
  src/images/projects/cfps-jupyterhub.png
  src/images/projects/cfps-report.png
  src/images/projects/robotic-arm.png
  src/images/projects/self-driving-car.png
  src/images/projects/self-parking-car.png
  src/pages/about.mdx
Due: prettier --write, eslint --cache --fix

feat: show full image on click
  package.json
  src/components/project-card/course-projects.jsx
  src/components/project-card/personal-projects.jsx
  src/components/project-card/project-card.jsx
  src/components/project-card/project-card.module.scss
  yarn.lock
Due: prettier --write, eslint --cache --fix

fix: do not wrap between icon and text
  src/components/icon-text.module.scss
Due: prettier --write

fix: use a different link hover style
  src/main.scss
Due: prettier --write

cleanup old files
  src/components/project-card.jsx
  src/components/project-card.module.scss
  src/components/project-cards.jsx
  src/components/project-cards.module.scss
Due: prettier --write, eslint --cache --fix

fix: use external link on page of projects
  src/components/project-card/course-projects.jsx
  src/components/project-card/external-link.jsx
  src/components/project-card/personal-projects.jsx
Due: prettier --write, eslint --cache --fix

refactor: use jsx ext for jsx files
  src/components/archive/archive-item.jsx
  src/components/blog-bottom-nav/blog-bottom-nav.jsx
  src/components/blog-summary/blog-summary-list.jsx
  src/components/blog-summary/blog-summary.jsx
  src/components/footer/index.jsx
  src/components/icon-text.jsx
  src/components/layout/index.jsx
  src/components/layout/mdx.jsx
  src/components/navbar/index.jsx
  src/components/navbar/navbar-brand.jsx
  src/components/navbar/navbar-burger.jsx
  src/components/navbar/navbar-container.jsx
  src/components/navbar/navbar-end.jsx
  src/components/navbar/navbar-link-button.jsx
  src/components/navbar/navbar-start.jsx
  src/components/navbar/navbar-title.jsx
  src/components/seo.jsx
  src/components/table-of-contents/table-of-contents.jsx
  src/components/table-of-contents/toc-link.jsx
  src/components/tags/tags.jsx
Due: prettier --write, eslint --cache --fix

feat(links): add josh
  src/components/friend-card.jsx
  src/components/friend-card.module.scss
  src/images/links/joshwcomeau.png
  src/pages/links.js
  src/pages/links.module.scss
Due: prettier --write, eslint --cache --fix

feat: display links in random order
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

content: update about
  src/pages/about.mdx
Due: none

fix: remove extra space in project card
  src/components/project-card/project-card.module.scss
Due: prettier --write

fix: noreferer
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

feat: initialize resume page layout
  src/components/resume/A4.jsx
  src/components/resume/A4.module.scss
  src/pages/resume.mdx
  src/pages/resume.scss
Due: prettier --write, eslint --cache --fix

feat: add some components
  src/components/icon-link.jsx
  src/components/mdx/PR.jsx
  src/components/resume/HorizontalIconLinks.jsx
Due: prettier --write, eslint --cache --fix

feat: add chinese resume
  src/components/resume/A4.module.scss
  src/main.scss
  src/pages/resume.mdx
  src/pages/resume/resume.scss
  src/pages/resume/zh.mdx
Due: prettier --write

fix(content): detail
  src/pages/resume/zh.mdx
Due: none

chore: upgrade deps
  package.json
  yarn.lock
Due: none

feat: component for gh issue
  src/components/mdx/Issue.jsx
Due: prettier --write, eslint --cache --fix

blog: ros env setup using systemd-nspawn
  content/blog/systemd-nspawn-container-for-ros/index.mdx
  content/blog/systemd-nspawn-container-for-ros/ros.png
Due: none

fix: typo
  content/blog/systemd-nspawn-container-for-ros/index.mdx
Due: none

deps: upgrade deps
  package.json
  yarn.lock
Due: none

content: update about page
  src/pages/about.mdx
Due: none

links: add more friend cards
  src/images/links/QuarticCat.png
  src/images/links/lancern.jpg
  src/images/links/山楂片的博客.png
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

content: update resume
  src/pages/resume/zh.mdx
Due: none

content: fix bad link
  src/components/project-card/course-projects.jsx
Due: prettier --write, eslint --cache --fix

fix: mermaid and bluma css conflicts
  gatsby-config.mjs
  src/templates/blog-post.js
  src/templates/blog-post.scss
Due: prettier --write, eslint --cache --fix

fix: upgrade to latest gattsby-remark-mermaid
  gatsby-config.mjs
  package.json
  src/templates/blog-post.scss
  yarn.lock
Due: prettier --write

refact: use gatsby head instead of react helmet
  src/components/head.jsx
  src/components/layout/index.jsx
  src/components/seo.jsx
  src/pages/404.js
  src/pages/about.mdx
  src/pages/archive.js
  src/pages/blogs.js
  src/pages/index.js
  src/pages/links.js
  src/pages/tags.js
  src/templates/blog-post.js
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix

fix: remove react helmet related dependencies
  gatsby-config.mjs
  package.json
  yarn.lock
Due: none

fix: double navbar
  src/components/layout/index.jsx
  src/components/layout/mdx.jsx
  src/data/strings.js
  src/pages/404.js
  src/pages/about.mdx
  src/pages/archive.js
  src/pages/blogs.js
  src/pages/index.js
  src/pages/links.js
  src/pages/tags.js
  src/templates/blog-post.js
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix

i18n(resume): WIP
  src/pages/resume/zh.mdx
Due: none

i18n(resume): WIP
  src/data/strings.js
  src/pages/resume/en.mdx
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *{.js,jsx,ts,tsx}) or (any of: *.{css,scss})
  eslint --cache --fix: any of: *{.js,jsx,ts,tsx}
