Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*{.js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix"
  ],
  "*.{css,scss}": "prettier --write"
}

don't gen pages for unpublished blogs in prod
  gatsby-node.js
Due: prettier --write, eslint --cache --fix

chore: upd deps
  package.json
  yarn.lock
Due: none

filter unpublished alticles
  gatsby-node.js
  src/data/conditional.js
  src/pages/blogs.js
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

fix: qurey param for /blogs/
  src/pages/blogs.js
Due: prettier --write, eslint --cache --fix

do the same to archive page
  gatsby-node.js
  src/pages/archive.js
Due: prettier --write, eslint --cache --fix

do the same to tags page
  gatsby-node.js
  src/pages/tags.js
Due: prettier --write, eslint --cache --fix

fix: remove useless option: defaultLayouts
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

do the same for RSS
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

blog: add `published` field
  content/blog/admin-passwd-of-G-140W-UG/index.md
  content/blog/bypass-campus-network-auth/index.md
  content/blog/hello-world/index.md
  content/blog/how-to-root-iplay40pro/index.md
  content/blog/my-second-post/index.md
  content/blog/new-beginnings/index.mdx
  content/blog/outlook-calendar-with-thunderbird/index.mdx
  content/blog/programming-thoughts/2022-04-16.md
  content/blog/test-website-functionality/index.mdx
  content/blog/using-katex-with-mdx-in-gatsby/index.mdx
  content/blog/using-ndi-to-share-screen-with-vm/index.md
  content/blog/wsl-and-gpg-card/index.mdx
  content/blog/yubikey-oobe/index.mdx
Due: none

refact: remove unused imports
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

optimize content
  content/blog/yubikey-oobe/index.mdx
Due: none

exclude tag pages in sitemap
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

update deps
  package.json
  yarn.lock
Due: none

use gatsby-remark-copy-relative-linked-files
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

asciinema player
  package.json
  src/components/mdx/asciinema-player.tsx
  yarn.lock
Due: prettier --write, eslint --cache --fix

draft: hg 2022
  content/blog/my-first-ctf-hackergame-2022/checkin.png
  content/blog/my-first-ctf-hackergame-2022/ff-win2000.png
  content/blog/my-first-ctf-hackergame-2022/index.md
  content/blog/my-first-ctf-hackergame-2022/linux.png
  content/blog/my-first-ctf-hackergame-2022/slide.png
  content/blog/my-first-ctf-hackergame-2022/ssh.png
Due: none

fix image loading
  gatsby-config.js
Due: prettier --write, eslint --cache --fix

draft(WIP): hg 2022
  content/blog/my-first-ctf-hackergame-2022/SDF.png
  content/blog/my-first-ctf-hackergame-2022/figlet.cast
  content/blog/my-first-ctf-hackergame-2022/flag_machine_admin.png
  content/blog/my-first-ctf-hackergame-2022/fopen_caller.png
  content/blog/my-first-ctf-hackergame-2022/image-20221028111826372.png
  content/blog/my-first-ctf-hackergame-2022/image-20221028113744788.png
  content/blog/my-first-ctf-hackergame-2022/image-20221028115245516.png
  content/blog/my-first-ctf-hackergame-2022/image-20221028115457953.png
  content/blog/my-first-ctf-hackergame-2022/image-20221028152130397.png
  content/blog/my-first-ctf-hackergame-2022/index.md
  content/blog/my-first-ctf-hackergame-2022/libfuns.png
  content/blog/my-first-ctf-hackergame-2022/vscode.png
Due: none

draft(WIP): hg 2022
  content/blog/my-first-ctf-hackergame-2022/dokuwiki.png
  content/blog/my-first-ctf-hackergame-2022/index.md
  content/blog/my-first-ctf-hackergame-2022/latex-flag1.png
  content/blog/my-first-ctf-hackergame-2022/latex-flag2.png
Due: none

fix inline code overflow
  src/main.scss
Due: prettier --write

draft(WIP): hg 2022
  content/blog/my-first-ctf-hackergame-2022/circuit_boards.png
  content/blog/my-first-ctf-hackergame-2022/gbr-flag.png
  content/blog/my-first-ctf-hackergame-2022/gbrjob.png
  content/blog/my-first-ctf-hackergame-2022/index.md
  content/blog/my-first-ctf-hackergame-2022/onelayer-gbr.png
Due: none

WIP: hg 2022
  content/blog/my-first-ctf-hackergame-2022/black.png
  content/blog/my-first-ctf-hackergame-2022/explore.cast
  content/blog/my-first-ctf-hackergame-2022/flag-light.png
  content/blog/my-first-ctf-hackergame-2022/flag2.cast
  content/blog/my-first-ctf-hackergame-2022/index.md
  content/blog/my-first-ctf-hackergame-2022/light──shadow.png
  content/blog/my-first-ctf-hackergame-2022/minminmin.png
  content/blog/my-first-ctf-hackergame-2022/umount.cast
Due: none

WIP： hg2022
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

WIP: hg 2022
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

WIP: hg2022
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

fix mistake
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

blog: update hg 2022
  content/blog/my-first-ctf-hackergame-2022/image-20221029193959458.png
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

fix typo
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

update something I fogot earlier
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none

fix link
  content/blog/my-first-ctf-hackergame-2022/index.md
Due: none
