Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*{.js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --cache --fix"
  ],
  "*.{css,scss}": "prettier --write"
}

fix: fix local puppeteer cache path
  .puppeteerrc.cjs
Due: none

feat: add external link icon
  gatsby-config.mjs
  package.json
  src/main.scss
  yarn.lock
Due: prettier --write

feat: make the link look nice
  src/main.scss
Due: prettier --write

fix: hide underline for anchors in content
  src/main.scss
Due: prettier --write

chore: upgrade deps
  gatsby-config.mjs
  package.json
  yarn.lock
Due: none

feat: add support for supplying outdated reason
  gatsby-node.mjs
  src/data/blog-queries.js
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix

blog: add outdated reason to katex&gatsby post.
  content/blog/using-katex-with-mdx-in-gatsby/index.mdx
Due: none

fix: rename friends page to links
  .vscode/settings.json
  gatsby-node.mjs
  src/components/navbar/index.js
  src/pages/links.js
  src/pages/links.module.scss
Due: prettier --write, eslint --cache --fix

links: add "The Overflow"
  src/images/links/baoshuo.webp
  src/images/links/logo-stackoverflow.png
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

fix: remove heading for empty section
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

fix: enable katex strict mode
  content/blog/using-katex-with-mdx-in-gatsby/index.mdx
  gatsby-config.mjs
Due: none

fix: remove log in BlogSummaryList
  src/components/blog-summary/blog-summary-list.js
Due: prettier --write, eslint --cache --fix

fix: react rendering error in archive page
  src/components/tags/tags.js
  src/pages/archive.js
Due: prettier --write, eslint --cache --fix

(WIP): geekgame
  content/blog/geekgame-2nd-writeup/index.mdx
  content/blog/safe-rust-code-that-segfaults/assets/image-20221125145958292.png
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

WIP: gg 2nd
  content/blog/geekgame-2nd-writeup/index.mdx
Due: none

fix typo
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

finish
  content/blog/geekgame-2nd-writeup/index.mdx
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

update time
  content/blog/geekgame-2nd-writeup/index.mdx
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

(WIP): geekgame 2nd
  content/blog/geekgame-2nd-writeup/assets/image-20221122200956996.png
  content/blog/geekgame-2nd-writeup/assets/image-20221122222124631.png
  content/blog/geekgame-2nd-writeup/assets/image-20221122233545121.png
  content/blog/geekgame-2nd-writeup/assets/image-20221122234831918.png
  content/blog/geekgame-2nd-writeup/assets/image-20221122235630128.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123000351889.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123001149282.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123113115379.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123114933898.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123151026039.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123151322108.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123152437286.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123170002305.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123170312780.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123192303286.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123192929379.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123200436465.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123204039434.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123204515933.png
  content/blog/geekgame-2nd-writeup/assets/image-20221123205050608.png
  content/blog/geekgame-2nd-writeup/index.mdx
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

dbg: check if template string causes gql error on vercel
  gatsby-config.mjs
  gatsby-node.mjs
Due: none

fix: correct gql
  gatsby-node.mjs
  src/data/blog-queries.js
Due: prettier --write, eslint --cache --fix

typo: fix title level
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

upgrade deps
  package.json
  yarn.lock
Due: none

Use splited mode for chatgpt-action
  .github/workflows/chatgpt.yml
Due: none

use esm
  gatsby-config.mjs
  gatsby-node.mjs
  src/data/conditional.mjs
  src/utils/remark-mkdocs-material-admonition.mjs
Due: none

deps: update dependencies
  package.json
  yarn.lock
Due: none

(WIP): gg, simple problem
  content/blog/geekgame-2nd-writeup/assets/image-20221126121533958.png
  content/blog/geekgame-2nd-writeup/index.mdx
Due: none

refactor: speedup look up by using es6 set
  gatsby-node.mjs
Due: none

dbg: use npm
  package-lock.json
  yarn.lock
Due: none

add more details
  content/blog/safe-rust-code-that-segfaults/index.mdx
Due: none

Revert "dbg: try remoe `published` filter"
  gatsby-config.mjs
  gatsby-node.mjs
Due: none

disable mermaid plugin temporarily
  gatsby-config.mjs
Due: none

refactor: rename __dirname
  gatsby-node.mjs
Due: none

dbg: try disable groupby tags
  gatsby-node.mjs
Due: none

fix: correct the style for inline code in link
  src/main.scss
Due: prettier --write

update to gatsby v5
  package.json
  yarn.lock
Due: none

update Mdx node def
  gatsby-node.mjs
Due: none

dbg: try remoe `published` filter
  gatsby-config.mjs
  gatsby-node.mjs
Due: none

fix gql type def
  gatsby-node.mjs
Due: none

downgrade gatsby remark mermaid
  package.json
  yarn.lock
Due: none
