Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

i18n(resume): WIP
  src/data/strings.js
  src/data/strings.jsx
  src/pages/resume/en.mdx
  src/pages/resume/zh.mdx
Due: prettier --write, eslint --cache --fix

i18n(resume): WIP
  src/data/strings.jsx
  src/pages/resume/zh.mdx
Due: prettier --write, eslint --cache --fix

i18n(resume): finish
  src/data/strings.jsx
  src/pages/resume/en.mdx
  src/pages/resume/resume.scss
Due: prettier --write, eslint --cache --fix

blog: self-hosting services on android phone
  content/blog/self-hosting-services-on-android-phone/arch.png
  content/blog/self-hosting-services-on-android-phone/bind.png
  content/blog/self-hosting-services-on-android-phone/check-again.png
  content/blog/self-hosting-services-on-android-phone/check-config.png
  content/blog/self-hosting-services-on-android-phone/hello-world.png
  content/blog/self-hosting-services-on-android-phone/index.mdx
  content/blog/self-hosting-services-on-android-phone/kconfig-menu.png
  content/blog/self-hosting-services-on-android-phone/vaultwarden.png
Due: none

deps: upgrade deps
  gatsby-config.mjs
  package.json
  yarn.lock
Due: none

fix(meta): it's meta:property, not meta:name
  src/components/head.jsx
Due: prettier --write, eslint --cache --fix

blog: magisk+lineage os on iplay40pro
  content/blog/lineageos-and-magisk-on-iplay40pro/20230524163234.png
  content/blog/lineageos-and-magisk-on-iplay40pro/20230524163357.png
  content/blog/lineageos-and-magisk-on-iplay40pro/20230524164934.png
  content/blog/lineageos-and-magisk-on-iplay40pro/20230524165140.png
  content/blog/lineageos-and-magisk-on-iplay40pro/20230524165534.png
  content/blog/lineageos-and-magisk-on-iplay40pro/Screenshot_20230524-191101_Magisk.png
  content/blog/lineageos-and-magisk-on-iplay40pro/Screenshot_20230525-081146_DevCheck.png
  content/blog/lineageos-and-magisk-on-iplay40pro/index.md
Due: none

chore: upd deps
  package.json
  yarn.lock
Due: none

content: upd about page
  src/pages/about.mdx
Due: none

refactor: remove abandoned deploy script and its deps
  package.json
  yarn.lock
Due: none

content(home): upd personal description
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

deps: upgrade react-typed-component
  package.json
  yarn.lock
Due: none

deps: update gatsby-remark-copy-relative-linked-files
  yarn.lock
Due: none

cleanup: remove puppeteerrc because we use playwright
  .puppeteerrc.cjs
Due: none

deps: upgrade deps
  package.json
  yarn.lock
Due: none

resume: update details
  src/data/strings.jsx
Due: prettier --write, eslint --cache --fix

c/tags: passthrough className
  src/components/tags/tags.jsx
Due: prettier --write, eslint --cache --fix

c/blog-summary: make it beautiful
  src/components/blog-summary/blog-summary.jsx
  src/components/blog-summary/blog-summary.module.scss
Due: prettier --write, eslint --cache --fix

c/blog-summary: rm ineffective className
  src/components/blog-summary/blog-summary.jsx
Due: prettier --write, eslint --cache --fix

p/tag page: fix timeToRead display
  src/templates/tag-page.js
Due: prettier --write, eslint --cache --fix

p/tag page: do not change tag casing
  gatsby-node.mjs
Due: none

blog: 将 Arduino IDE 移植到 RISC-V 64
  content/blog/porting-arduino-ide-to-riscv64/assets/arduino.png
  content/blog/porting-arduino-ide-to-riscv64/assets/err.png
  content/blog/porting-arduino-ide-to-riscv64/assets/image-20230609115845641.png
  content/blog/porting-arduino-ide-to-riscv64/assets/jssc-err.jpg
  content/blog/porting-arduino-ide-to-riscv64/assets/jssc-libs.png
  content/blog/porting-arduino-ide-to-riscv64/assets/serial.png
  content/blog/porting-arduino-ide-to-riscv64/astyle.cast
  content/blog/porting-arduino-ide-to-riscv64/index.mdx
Due: none

site: personal information maintenance
  gatsby-config.mjs
  src/components/footer/index.jsx
Due: prettier --write, eslint --cache --fix

fix: don't show TOC when printing
  src/components/table-of-contents/table-of-contents.jsx
  src/components/table-of-contents/table-of-contents.module.scss
Due: prettier --write, eslint --cache --fix

fix: don't show sidebar when printing
  src/components/layout/layout.module.scss
Due: prettier --write

fix: hide comments when printing
  src/templates/blog-post.scss
Due: prettier --write

fix: hide blog bottom nav when printing
  src/components/blog-bottom-nav/blog-bottom-nav.jsx
  src/components/blog-bottom-nav/blog-bottom-nav.module.scss
Due: prettier --write, eslint --cache --fix

fix: hide footer when printing
  src/components/footer/footer.module.scss
Due: prettier --write

template(blog): add tips for printed version
  src/templates/blog-post.js
  src/templates/blog-post.module.scss
Due: prettier --write, eslint --cache --fix

fix: title should only contain one child node
  src/components/head.jsx
Due: prettier --write, eslint --cache --fix

fix: hydration issue caused by client side url handling
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix

deps: upgrade deps (code-hike breaking change)
  gatsby-config.mjs
  package.json
  yarn.lock
Due: none

feat(footer): add mastodon link
  src/components/footer/index.jsx
Due: prettier --write, eslint --cache --fix

git: recognize markdown(X) language
  .gitattributes
Due: none

deps: fix graphql peer dep
  package.json
  yarn.lock
Due: none

lint: comment about TableOfContents
  src/components/table-of-contents/table-of-contents.jsx
Due: prettier --write, eslint --cache --fix

add playwright-core dev dependency
  package.json
  yarn.lock
Due: none

revert previous one commit
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: (any of: *{.js,jsx,ts,tsx}) or (any of: *.{css,scss})
  eslint --cache --fix: any of: *{.js,jsx,ts,tsx}
