Repository kxxt/kxxt-website: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

feat: add rel=me for mastodon link
  src/components/footer/index.jsx
Due: prettier --write, eslint --cache --fix

chore: update deps
  package.json
  yarn.lock
Due: none

deps: upgrade dependencies
  package.json
  yarn.lock
Due: none

fix: typo
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

docs: update school grade
  src/pages/about.mdx
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

blog: clash for android and tailscale
  content/blog/clash-for-android-and-tailscale/index.mdx
  content/blog/clash-for-android-and-tailscale/tailscaled-failed.png
Due: none

fix typo.
  content/blog/clash-for-android-and-tailscale/index.mdx
Due: none

upgrade deps, try yarn 4
  .gitignore
  .yarn/releases/yarn-4.0.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

deps; update mdx to v3
  package.json
  yarn.lock
Due: none

chore(deps): bump deps
  package.json
  yarn.lock
Due: none

chore: update strings
  src/data/strings.jsx
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

feat: short notes
  content/notes/first-note.mdx
  content/notes/second-note.mdx
  gatsby-config.mjs
  gatsby-node.mjs
  src/components/blog-bottom-nav/blog-bottom-nav.jsx
  src/components/blog-summary/blog-summary-list.jsx
  src/components/blog-summary/blog-summary.jsx
  src/components/navbar/index.jsx
  src/data/blog-queries.js
  src/data/conditional.mjs
  src/pages/index.js
  src/pages/notes.js
  src/pages/tags.js
  src/templates/blog-post.js
  src/templates/tag-page.js
  src/utils/date-and-time-to-read.js
Due: prettier --write, eslint --cache --fix

feat: add link to rss feed of short notes
  src/components/footer/index.jsx
Due: prettier --write, eslint --cache --fix

notes: initialize contents
  content/notes/first-note.mdx
  content/notes/second-note.mdx
  content/notes/trace-execve-and-execveat.mdx
  content/notes/unpack-android-ota.mdx
Due: none

feat(giscus): use preferred_color_scheme
  src/templates/blog-post.js
Due: prettier --write, eslint --cache --fix

Update deps, bulma 1.0
  package.json
  src/components/friend-card.jsx
  src/components/navbar/navbar-burger.jsx
  src/components/project-card/project-card.module.scss
  src/components/table-of-contents/variables.scss
  src/components/tags/tags.jsx
  src/components/tags/tags.module.scss
  src/main.scss
  src/pages/links.module.scss
  yarn.lock
Due: prettier --write, eslint --cache --fix

chore: remove debug logging
  src/pages/notes.js
Due: prettier --write, eslint --cache --fix

feat: dark theme for external link hint
  src/main.scss
Due: prettier --write

fixup! feat: dark theme for external link hint
  src/main.scss
Due: prettier --write

chore: misc style fix for bulma 1.0
  src/components/friend-card.jsx
  src/components/friend-card.module.scss
  src/main.scss
Due: prettier --write, eslint --cache --fix

content: update website bio
  src/pages/links.js
Due: prettier --write, eslint --cache --fix

build: update deps
  package.json
  yarn.lock
Due: none

build: regenerate checksum for git dependency
  yarn.lock
Due: none

content(index): update descriptions
  src/pages/index.js
Due: prettier --write, eslint --cache --fix

content(about): update description
  src/pages/about.mdx
Due: none

chore: update deps, fix sass deprecation
  package.json
  src/components/icon-text.module.scss
  src/components/table-of-contents/variables.scss
  src/main.scss
  yarn.lock
Due: prettier --write

content(blog): What is the maximum possible value of RLIMIT_NOFILE?
  content/blog/max-possible-value-of-rlimit-nofile/index.md
Due: none

fix: set inline margin for codehike inline code
  src/main.scss
Due: prettier --write

content(blog): beautify What is the maximum possible value of RLIMIT_NOFILE?
  content/blog/max-possible-value-of-rlimit-nofile/index.md
Due: none

content(blog): riscv chromium cross compilation
  content/blog/cross-compile-chromium-for-riscv/index.md
  content/blog/cross-compile-chromium-for-riscv/screenshot.png
  src/components/mdx/PR.jsx
Due: prettier --write, eslint --cache --fix

chore: bump dependencies
  package.json
  yarn.lock
Due: none

fix(deps): downgrade playwright
  package.json
  yarn.lock
Due: none

chore: fix typo
  content/blog/max-possible-value-of-rlimit-nofile/index.md
Due: none

content(blog): Fully Dynamically Linked Rust Binary: An Experiment
  content/blog/fully-dynamically-linked-rust-binary/index.md
Due: none

chore: update dependencies
  gatsby-config.mjs
  package.json
  yarn.lock
Due: none

content(blog): rust for linux dev setup
  content/blog/rust-for-linux-dev-setup/.config
  content/blog/rust-for-linux-dev-setup/desktop.png
  content/blog/rust-for-linux-dev-setup/index.mdx
  content/blog/rust-for-linux-dev-setup/int-pow-riir.png
Due: none

Path conditions:
  prettier --write: (any of: *{.js,jsx,ts,tsx}) or (any of: *.{css,scss})
  eslint --cache --fix: any of: *{.js,jsx,ts,tsx}
